.main {
    -fx-background-color: transparent;
}
.desert {
    -fx-background-color: #E74C3C;
    -fx-text-fill: #ffffff;
}
.desert-font {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'segoe ui';
    -fx-font-size: 1em;
}

.desert-nav-button{
    -fx-background-color: transparent;
    -fx-text-fill: #E74C3C;
    -fx-border-color: #E74C3C;
    -fx-cursor: hand;
}

.outline{
    -fx-border-color: #E74C3C;
    -fx-border-width: 2px;
}

.scroll-pane .viewport{
    -fx-background-color: white;
}

.red-on-white{
    -fx-border-color: #E74C3C;
    -fx-text-fill: #E74C3C;
}

.bar-chart:vertical .chart-content .chart-plot-background{
    -fx-background-color: white;
}

.chart .chart-content .chart-plot-background{
    -fx-background-color: white;
}