.hand{
    -fx-cursor: hand;
}
.hand:hover{
    -fx-border-color:  #E74C3C;
}

.table{
    -fx-background-color: #ffffff;
}

.table-view .column-header-background{
    -fx-color: #f1948a;
    -fx-background-color: #F1948A;
    -fx-text-fill: white;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color: white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;

}

.root{
    -fx-focus-color: transparent;
}

.scroll-pane {
    -fx-background-color:#eee;

}